@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.white__color {
  color: #fff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.container {
  width: 80%;
  max-width: 900px;
  margin: 0 auto;
  position: relative;
}

header {
  background: #136c72;
  padding: 1em 0;
  text-align: center;
}

.nav {
  width: 100%;
}

.nav-toggle {
  cursor: pointer;
  border: 0;
  width: 3rem;
  height: 3rem;
  padding: 0em;
  border-radius: 50%;
  background: #072a2d;
  color: white;
  transition: opacity 250ms ease;

  position: absolute;
  left: 0;
}

.nav-toggle:focus,
.nav-toggle:hover {
  opacity: 0.75;
}

.hamburger {
  width: 50%;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  display: block;
  margin: 0 auto;
  height: 3px;
  background: white;
}

.hamburger::before,
.hamburger::after {
  content: "";
  width: 100%;
}

.hamburger::before {
  transform: translateY(-6px);
}

.hamburger::after {
  transform: translateY(3px);
}

/* made changes here from video
     to make it more accessible.
     
     Works the same :) */
.nav {
  visibility: hidden;
  height: 0;
  position: absolute;
}

.nav--visible {
  visibility: visible;
  height: auto;
  position: relative;
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav__item {
  margin-top: 0.75em;
}

.nav__link--button {
  padding: 0.25em 0.75em;
  color: #fff;
  background-color: #a59678;
  border-radius: 100px;
}

.nav__link {
  color: #fff;
  text-transform: uppercase;
}

.nav__list--primary {
  margin-bottom: 2em;
}
.logo {
  height: 30px;
}

.intro {
  color: #6f737f;
  padding: 50px 0;
  font-size: 21px;
  background-color: #3b4050;
}

.intro__content h1 {
  font-size: 48px;
  font-weight: 900;
}
.intro__content p {
  margin-bottom: 3rem;
  font-size: 24px;
}

.intro .heading {
  font-size: 50px;
  font-weight: bold;
}

.cta {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: bold;
  display: inline-block;
  text-transform: uppercase;
  padding: 0.7rem 2rem;
  background-color: #a59678;
  border-radius: 31.5px;
  color: #fff;
}

.row {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
}

section .heading {
  font-size: 30px;
  font-weight: bold;
}
section {
  font-size: 18px;
}
main .heading {
  font-size: 36px;
  font-weight: bold;
}
main {
  font-size: 21px;
}

.aside .heading {
  font-size: 30px;
  font-weight: bold;
}
.aside {
  font-size: 18px;
}

.box {
  background-color: #3b4050;
  padding: 1rem;
  font-family: "Oswald", sans-serif;
  color: #6f737f;
}
.footer__heading {
  font-size: 24px;
  text-align: center;
  font-weight: bold;
}

.small__heading {
  font-size: 21px;
  font-weight: bold;
}
.blocks {
  font-size: 16px;
}
section .container,
main .container {
  padding: 50px 0;
  text-align: center;
}

main .container,
footer .main__footer {
  text-align: left;
}

.heading,
.footer__heading,
.small__heading {
  color: #a59678;
  font-family: "Oswald", sans-serif;
}

@media (min-width: 800px) {
  .nav-toggle {
    display: none;
  }

  .nav {
    visibility: visible;
    display: flex;
    align-items: center;
    height: auto;
    position: relative;
    justify-content: flex-end;
  }

  .nav__list {
    display: flex;
    margin: 0;
  }

  .nav__item {
    margin: 0 0 0 1.5em;
  }

  .row {
    display: flex;
    justify-content: space-between;
  }
}
